<div class="resource-container">
    <a class="link-title" [href]="resource.url" target="_BLANK">{{resource.source}} - {{ resource.title }}</a>
    <div class="resource-right">
        <div class="likes">
            <h4 class="like-count">{{ resource.likeCount }} Likes</h4>
            <fa-icon [icon]="icon" class="star-icon" (mouseenter)="likeEnter()" (mouseleave)="likeLeave()" (click)="likeResource()"></fa-icon>
        </div>
        <button class="btn btn-success" (click)="saveResource()">Save</button>
    </div>
</div>
