<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="blacklist-tab" data-toggle="tab" href="#blacklist" role="tab" aria-controls="blacklist" aria-selected="true">Blacklists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="processed-blacklist-tab" data-toggle="tab" href="#processed-blacklist" role="tab" aria-controls="processed-blacklist" aria-selected="false">Processed Blacklists</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="blacklist" role="tabpanel" aria-labelledby="blacklist-tab">
            <div class="container">
                <br>
                <h5 class="card-title">Blacklists:</h5>
                <h6 class="card-subtitle mb-2 text-muted">pending blacklists:</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>text binding here</strong> : text binding here</li>
                </ul>
                <br>
            </div>
        </div>
        <div class="tab-pane fade" id="processed-blacklist" role="tabpanel" aria-labelledby="processed-blacklist-tab">
            <div class="container">
                <br>
                <h5 class="card-title">processed blacklists:</h5>
                <h6 class="card-subtitle mb-2 text-muted">history of blacklists that have been processed...</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>text binding here</strong> : text binding here</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>