<div class="wrapper">
    <div class="row">
        <form class="card">
            <header class="heading">
                <h1>Legendary Study Companion</h1>
                <h5>Login</h5>
            </header>

            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" #username>
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" #password>
                    <label for="password">Password</label>
                </div>
            </div>
            <p>test</p>
            <button class="btn waves-effect waves-light light-green" type="submit" (click)="attemptLogin(username.value, password.value)">Submit</button>

            <a [routerLink]="['/register']">Create an account</a>
        </form>
    </div>
</div>
