<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="study-set-tab" data-toggle="tab" href="#study-set" role="tab" aria-controls="study-set" aria-selected="true">Study Sets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="liked-resources-tab" data-toggle="tab" href="#liked-resources" role="tab" aria-controls="liked-resources" aria-selected="false">Liked Resources</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="study-set" role="tabpanel" aria-labelledby="study-set-tab">
            <div class="container">
                <br>
                <h5 class="card-title">My study sets:</h5>
                <h6 class="card-subtitle mb-2 text-muted">click on one to see the resources</h6>
                <div *ngIf="myContent" class="accordion" id="accordionStudySets">
                    <div *ngFor="let subject of likedSubjects">
                        <button id="my-study-set-{{subject.id}}" class="mybutton btn-block" type="button" data-toggle="collapse" attr.data-target="#collapse{{subject.id}}" aria-expanded="false" attr.aria-controls="collapse{{subject.id}}">
                            <div class="card-header" id="heading{{subject.id}}" style="padding: 25px;">
                                <h6 class="mb-0">
                                        <strong>{{subject.name}}</strong>
                                </h6>
                            </div>
                        </button> <!--https://stackoverflow.com/questions/39161088/cant-bind-to-aria-valuenow-since-it-isnt-a-known-property-of-div-->
                        <div id="collapse{{subject.id}}" class="collapse" attr.aria-labelledby="heading{{subject.id}}" data-parent="#accordionStudySets">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let resource of matchSubject(subject.name)" class="list-group-item id={{resource.resourceId}}">
                                        <div *ngIf="subject.name == resource.subject.name" >
                                            <div class="row">
                                                <div class="col-2">
                                                    <strong>{{resource.source}}</strong>
                                                </div>
                                                <div class="col=10">
                                                    <a href="{{resource.url}}" target="_blank">{{resource.title}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="myContent">
                    <div *ngIf="likedSubjects.length == 0"> you have no study sets D:</div>
                </div>
                <br>
            </div>
        </div>
        <div class="tab-pane fade" id="liked-resources" role="tabpanel" aria-labelledby="liked-resources-tab">
            <div class="container">
                <br>
                <h5 class="card-title">My liked resources:</h5>
                <h6 class="card-subtitle mb-2 text-muted">click to open the resource</h6>
                    <ul *ngIf="myContent" class="list-group list-group-flush">
                        <li *ngFor="let resource of myContent.likedResources" class="list-group-item id={{resource.resourceId}}">
                            <div class="row">
                                <div class="col-2">
                                    <strong>{{resource.source}}</strong>
                                </div>
                                <div class="col-10">
                                    {{resource.subject.name}} : <a href="{{resource.url}}" target="_blank">{{resource.title}}</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div *ngIf="myContent">
                        <div *ngIf="myContent.likedResources.length == 0"> you have not liked any resources :[</div>
                    </div>
                <br>
            </div>
        </div>
    </div>
</div>

