<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create an account</h5>
        <h6 class="card-subtitle mb-2 text-muted">it is simple</h6>
        <div id="my-info-form">
            <div class="form-group">
                <label for="name-field">name: </label>
                <input type="text" class="form-control" id="name-field" name="name" [(ngModel)]=profile.fullName>
            </div>
            <div class="form-group">
                <label for="username-field">username: </label>
                <input type="text" class="form-control" id="username-field" name="username" [(ngModel)]=profile.userName>
            </div>
            <div class="form-group">
                <label for="email-field">e-mail: </label>
                <input type="text" class="form-control" id="email-field" name="email" [(ngModel)]=profile.email>
            </div>
            <div class="form-group">
                <label for="password-field">password: </label>
                <input type="password" class="form-control" id="password-field" name="password" [(ngModel)]=profile.password>
            </div>
            <button id="update-user-button" class="btn btn-primary" (click)="newUser()">Signup</button>
        </div>
    </div>
</div>