<div class="dropdown mt-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Hello, Profile
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink='profile'>Profile</a>
      <a *ngIf="tokenArray[1] == 1" class="dropdown-item" routerLink='moderate'>Moderate</a>
      <a class="dropdown-item" [ngStyle]="{'color': 'red'}" (click)='logout()'>Logout</a>
    </div>
  </div>